* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.ancora a {
    max-width: 12rem;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #E8E7D2;
}
   
.primeiraConteudo {
    background-color: #E8E7D2;
    padding: 2rem;
    justify-content: center;
    align-items: center; 
}

.colunas {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 7rem;
    margin-inline: 22rem;

   
    
}

.coluna img {
    width: 100%;
    height: auto;
   
}

h1 {
    color: #778D4D;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1.8rem;
}

h2 {
    color: #778D4D;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;

}

p {
    color: #414840;
    padding-bottom: 1.5rem;
}

.primeiraConteudo img {
    height: 20rem;
    width: 100%;


}


.segunda {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6.25rem;
    margin: 0 auto;
    background-color: #202E13;
}

.segunda img {
    width: 35rem;
    height: 19.688rem;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 5rem;
}

iframe {
    margin-top: 0.2rem;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    
}


.segunda h3{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    margin-top: 3rem;
    text-align: center;
    padding-top: 1rem;
}

/* ========== FOOTER ========== */
footer {
    background-color: #778D4D;
    color: white;
    padding: 0;
}

.unico {
    color: #FFFFFF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    gap: 1.875rem;
    padding: 2.5rem 1.25rem;
}

.footer-comeco {
    margin-left: 6.25rem;
}

.footer-comeco h2 {
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-bottom: 0.938rem;
    color: white;
}

.footer-comeco p {
    max-width: 18.75rem;
    line-height: 1.5;
    font-size: 1rem;
    color: white;
}

.footer-topics h3,
.footer-contacts h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.938rem;
    font-weight: normal;
}

.footer-topics ul {
    list-style: none;
    padding: 0;
}

.footer-topics a {
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-copyright {
    background-color: #343D33; 
    color:#8B8B8B;
    ;
    text-align: center;
    padding: 0.625rem 0;
    margin-top: 0;
    width: 100%; 
    position: relative; 
    left: 0;
    right: 0;
    font-size: 0.9rem;
}

.footer-copyright p {
    padding: 1rem;
    color:#8B8B8B;
}

.footer-contacts {
    margin-right: 14.375rem;
}

.main-container, .parte-principal {
    width: 100%;
    overflow: hidden;
}

img, .video-saude, .mapa-mental-saude {
    max-width: 100%;
    height: auto;
}

body.escurecer::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}

.botao nav.abrir {
    right: 0;
}

button {
    height: 3.125rem;
    position: fixed;
    right: 1.875rem;
    margin-top: 1.875rem;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 6.25rem;
    width: 6.25rem;
}

.primeira-imagem {
    height: 6.25rem;
    width: 100%;
    height: auto;
}

.menu-lateral {
    position: fixed;
    right: -16rem; 
    height: 100vh;
    width: 16rem;
    background-color: #E8E7D2;
    z-index: 1000;
    transition: right 0.3s ease;
}

.menu-lateral.abrir {
    right: 0;
}

 .fechar-menu {
    position: absolute;
    right: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 1001;
    display: block; 
}

.menu-lateral .fechar-menu img {
    width: 3rem;
    height: 3.5rem;
    display: block;
}

.menu-lateral.aberto .fechar-menu {
    display: block; 
}

body.menu-open .overlay {
    display: block;
}

.botao-fechar {
    display: none; 
}

.menu-open .botao-fechar {
    display: block; 
}

.fechar-menu {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1002;
    color: #202E13;
    top: 0;
    margin-right: -3rem;
    margin-top: 1rem;
}

.fechar-menu img {
    width: 1.5rem;
    height: 1.5rem;
    display: block; 
    color: #1E2912;
}

.ancora {
    margin-top: 6.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    margin-left: 2.5rem;
}

.botao a {
    text-decoration: none;
    color: #202E13;
}

.botao a:hover {
    color: #4C7B20;
}

.botao-abrir{
    position: absolute;
} 

